<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736682415043-947va003ncdourrsem88g5mf5gd1kvaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736682415043-947va003ncdourrsem88g5mf5gd1kvaq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>736682415043-ucldptlnkr0i4g354tckirpqkictdkrb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtmVSPWu9U7AcO_k9U0pF98x6bTWLy-YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736682415043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weloveflutterflow.twid</string>
	<key>PROJECT_ID</key>
	<string>twid-3e372</string>
	<key>STORAGE_BUCKET</key>
	<string>twid-3e372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736682415043:ios:c2dc18ccc4d75782562376</string>
</dict>
</plist>